* {
  scrollbar-color: darkgray #00000000;
}

body {
  background: black;
}

#productDisplay {
  background: indigo;
  color: white;
}

.product {
  background: darkgray;
  color: black;
}

#Payment {
  background: indigo;
  color: white;
}

input, button {
  background: darkgray;
  color: black;
}
