* {
  scrollbar-color: yellow #00000000;
}


body {
  background: #778866;
}

#productDisplay {
  background: lightyellow;
}

.product {
  background: yellow;
}

#Payment {
  background: lightyellow;
}

input, button {
  background: yellow;
}
