* {
  scrollbar-color: magenta #00000000;
}

body {
  background: #776688;
}

#productDisplay {
  background:#e6ace6;
}

.product {
  background: magenta;
}

#Payment {
  background:#e6ace6;
}

input, button {
  background: magenta;
}
